<p id="notice"><%= notice %></p>

<h1>Listing Beta Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beta_users.each do |beta_user| %>
      <tr>
        <td><%= beta_user.email %></td>
        <td><%= link_to 'Show', beta_user %></td>
        <td><%= link_to 'Edit', edit_beta_user_path(beta_user) %></td>
        <td><%= link_to 'Destroy', beta_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beta user', new_beta_user_path %>
